
N2.Builder/bin/Debug/

N2.Core/bin/Debug/

N2.Entity/bin/Debug/

N2.MES/bin/Debug/

N2.Sys/bin/Debug/

N2.WebApi/bin/Debug/

N2.Builder/obj/Debug/

N2.Core/obj/Debug/

N2.Entity/obj/Debug/

N2.MES/obj/Debug/

N2.Sys/obj/Debug/

N2.WebApi/obj/Debug/
